@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

:root {
    --first: #003049;
    --second: #d62828;
    --third: #f77f00;
    --fourth: #fcbf49;
    --fifeth: #eae2b7;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--first);
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}

h1 {
    color: var(--fourth);
    font-size: 100px;
    z-index: 2;
}

h4 {
    top: 54%;
    z-index: 1;
    position: absolute;
    color: var(--second);
    font-size: 50px;
}

p {
    position: absolute;
    color: var(--fifeth);
    font-weight: 100;
    right: 0px;
    bottom: 0;
    letter-spacing: 2px;
}